@import url('https://fonts.googleapis.com/css?family=Raleway');

.maincontainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Raleway', sans-serif;
}

.panel1 {
    background: #3F9BBF;
}
.panel2 {
    background: #BF3F3F;
}
.panel3 {
    background: #3FBF5D;
}
.panel4 {
    background: #BD3FBF;
}
.panel5 {
    background: #B8BF3F;
}
.panel6 {
    background: cyan;
}
.panel7 {
    background: brown;
}

.panel h1 {
    color: white;
    margin: 20px;
}

.D1, .D2 {
    width: 50%;
    height: 80%;
    display: block;
    float:left;
    box-sizing: border-box;
    overflow: hidden;
}

footer {
    width: 100%;
    height: 20%;
    background-color: black;
    display: block;
    float:none;
    clear:both;
    color: white;
}