.panels-container, .module-panels {
    width: 100%;
    height: 100%;
    overflow: none;
    box-sizing: border-box;
    position:relative;
} 

.panel {
    display: block;
    float: left;
    box-sizing: border-box;
    position:relative;
}

.panels-carousel {
    position: absolute;
    bottom: 0;
    left: 50%;
}

.panels-carousel .selected {
    font-size: 20pt;
}